.hello {
  width: 200px;
  height: 200px;
  border: 1px solid orange;
}
.hello {
  /* width: 200px;
  height: 200px;
  border: 1px solid orange; */
  background-image: url(../images/avatar.jpg);
  color: red;
  font-weight: 600;
}
