<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Html webpack plugin</title>
</head>
<body>
  <%= JSON.stringify(htmlWebpackPlugin) %>
  <hr>
  <%= JSON.stringify(custom) %> 
</body>
</html>